.toastContainer {
  position: fixed;
  z-index: 9999;
  padding: 20px;
  pointer-events: none;
  max-width: 100%;
  box-sizing: border-box;

  &__topRight {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }

  &__topLeft {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  &__bottomRight {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
  }

  &__bottomLeft {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }
}
