.wrap {
  margin: 100px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  position: relative;
}

.errorNum {
  font-weight: 600;
  font-size: 128px;
}

.errorText {
  font-size: 32px;
}

.button {
  background: #383838;
  border-radius: 15px;
  padding: 16px 32px;
  color: #ffffff;
  border: none;
}

.buttonWrap {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

